%c_p_f {
    color: (var(--bs-light));
    font-size: 14px;
    padding-left: 8px;
}

.header {
    border-top-left-radius: 1rem;
    display: flex;
    gap: 28px;

    .logo {
        padding: 16px 0 16px 16px;
    }

    nav {
        padding-top: 24px;

        ul {
            display: flex;
            padding-left: 0;
            gap: 32px;

            li {
                list-style-type: none;
            }
            li:first-child::after {
                content: "Контакты";
                @extend %c_p_f;
            }
            li:nth-child(2)::after {
                content: "Сообщения";
                @extend %c_p_f;
            }
            li:last-child::after {
                content: "Профиль";
                @extend %c_p_f;
            }
        }
    }
}
