@import "_variables.scss";
@import "_header.scss";
@import "_left_contacts.scss";
@import "_left_messages.scss";
@import "_left_profile.scss";
@import "_right.scss";
@import "_utilities.scss";
@import "_right_messages.scss";
body {
    .wrapper {
        padding: 1.5rem;
        max-height: 900px;

        .wrapper-main {
            max-height: 852px;

            .wrapper-left {
                max-height: 852px;
            }
        }
    }
}

.contacts {
    display: none;
}
.messages {
    display: none;
}
.profile {
    display: none;
}
.right_messages {
    display: none;
}
.cont_link {
    display: block;
}
.active {
    display: block;
}
.wrapper-right {
    max-height: 852px;
}


@media screen and (max-width: 415px) {
    body {

        .wrapper {
            max-width: 414px;
            max-height: 896px;
            padding: 0;
            overflow: hidden;
            max-height: 900px;

            .wrapper-left {
                width: 414px;
                display: flex;
                flex-direction: column-reverse;
                max-height: 852px;
                overflow: hidden;
                border-bottom-left-radius: 1rem;
            }
            .wrapper-right {
                max-height: 852px;
            }
        }
    }
    .cont_link {
        display: none;
    }
}