@import "_variables.scss";
@import "_header.scss";
@import "_left.scss";
@import "_right.scss";

body {
    height: 100%;

    .wrapper {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 414px) {
    body {

        .wrapper {
            max-width: 414px;
            max-height: 896px;
            padding: 0;
            overflow: hidden;

            .wrapper-left {
                width: 414px;
                display: flex;
                flex-direction: column-reverse;
                max-height: 896px;
                overflow: hidden;
            }
        }
    }
}