doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index


        link(href='/app/bootstrap/bootstrap.css' rel='stylesheet')
        link(href='../css/style.min.css' rel='stylesheet')

    body
        .container-xxl.pt-5.px-4.bg-gray.w-100.h-100
            .bg-light.rounded-4
                include includes/header.pug
                include includes/left.pug
                include includes/right.pug