doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        link(rel='stylesheet' href='css/style.min.css')
    body
        .container-xxl gy-3 gx-1.5 bg-gray rounded-1
            include includes/header.pug
            include includes/left.pug