doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index


        link(href='/app/bootstrap/bootstrap.css' rel='stylesheet')
        link(href='../css/style.min.css' rel='stylesheet')
        script(type='text/javascript' defer src='../bootstrap/bootstrap.min.js')

    body
        .wrapper.container-xxl.bg-gray.w-100.h-100
            .bg-light.rounded-4.row.h-100.m-0
                .wrapper-left.col-4.p-0.border-end.border-grey
                    include includes/header.pug
                    include includes/left-contacts.pug
                    include includes/left-messages.pug
                    include includes/left-profile.pug
                .wrapper-right.col-8.h-100.p-0.d-flex.pt-50.bg-light.rounded-4
                    include includes/right.pug
                    include includes/right_messages.pug
        script
            include bootstrap/bootstrap.min.js