header.header.col-4.h-25.bg-primary
    .logo
        img(src="/app/images/src/Logo.png", alt="logo hexlet")
    nav.menu
        ul.menu_list
            li.list_item
                img(src="/app/images/src/people_2.png", alt="contacts")
            li.list_item
                img(src="/app/images/src/chat_2.png", alt="massages")
            li.list_item
                img(src="/app/images/src/person_2.png", alt="profile")