.right_messages
    .chat_header.w-100
        img(src="/app/images/src/avatar_4.jpg", alt="logo-veniamin")
        ul
            li.chat_name Вениамин Редакторович
            li.chat_status Онлайн
    .chat_main
        .answer
            img(src="/app/images/src/avatar_4.jpg", alt="logo-owner")
            ul
                li.chat_name Вениамин Редакторович
                li.chat_text Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
                li.chat_status 8 минут назад
        .chat_message
            img(src="/app/images/src/avatar_1.jpg", alt="logo-owner")
            ul
                li.chat_text Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
                li.chat_status 8 минут назад
        .answer
            img(src="/app/images/src/avatar_4.jpg", alt="logo-owner")
            ul
                li.chat_name Вениамин Редакторович
                li.chat_text Лады
                li.chat_status 5 минут назад
        .chat_message
            img(src="/app/images/src/avatar_1.jpg", alt="logo-owner")
            ul
                li.chat_text А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
                li.chat_status 3 минут назад
        .answer
            img(src="/app/images/src/avatar_4.jpg", alt="logo-owner")
            ul
                li.chat_name Вениамин Редакторович
                li.chat_text о_О
                li.chat_status Только что
    .write_message